
/* HORIZONTAL LINE */
.zigzag__item{
  color: #000;
}
.zigzag__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--skin-color));
  transform: translateX(-100%);
  animation: animateBefore 4s linear infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes animateBefore {
  0% {
    transform: translateX(-100%);
  }

  25%,
  100% {
    transform: translateX(100%);
  }
}

/* VERTICAL LINE */
.zigzag__item::after {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--skin-color));
  transform: translateY(-100%);
  animation: animateAfter 4s linear infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes animateAfter {

  0%,
  12.5% {
    transform: translateY(-100%);
  }

  37.5%,
  100% {
    transform: translateY(100%);
  }
}
/* HOVER EFFECT */
.zigzag__container:nth-child(1) .zigzag__item span:hover {
  outline-offset: -5px;
}