.rect-anim-shadow {
    animation: dash 10s linear infinite;
    filter: 
        drop-shadow(0 0 10px var(--neon-color))
        drop-shadow(0 0 30px var(--neon-color))
        drop-shadow(0 0 60px var(--neon-color));
}


@keyframes dash {
      to {
            stroke-dashoffset: -280;
      }
}