@mixin hideScrollbars {
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.picker-window {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 40px; // ارتفاع آیتم
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  transform: translateY(-50%);
  pointer-events: none;
}

ul {
  @include hideScrollbars();
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding: 0;
  margin: 0;
}

li {
  scroll-snap-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
